# Ignorar los directiorios de los submodulos o repositorios clonados
/surveillance-backend/
/surveillance-frontend/
/surveillance-k8/
/surveillance-db/

/client-gateway/
/video-data-ms/
/object-detector-api/

.env
node_modules/